{% extends 'base_public.html' %}
{% load static humanize %}

{% block titulo %}Tu carrito · Ideas Boutique{% endblock %}

{% block body %}
{% include 'ecommerce/_shop_header.html' with items_count=items_count %}

<main class="cart" id="main-content" tabindex="-1">
  <div class="cart-breadcrumb">
    <a href="{% url 'ecommerce:catalogo' %}" class="cart-back-link">
      <svg class="ico ico--16" style="transform: scaleX(-1);"><use href="#ico-arrow-right"/></svg>
      <span>Volver a la tienda</span>
    </a>
  </div>

  {% include 'ecommerce/_carrito_contenido.html' %}
</main>

{% include 'ecommerce/_shop_footer.html' %}
{% endblock %}
