<!--
Author: ShaggyKnigh
Original Template Author: w3layouts
Adapted for Norte Verde Hostal
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Hostal Norte Verde</title>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Hospelry Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/responsiveslides.min.js"></script>
 <script>
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
      	nav: true,
      	speed: 500,
        namespace: "callbacks",
        pager: true,
      });
    });
  </script>

</head>
<body>
<!-- ************************************  header ****************************************** -->
<div class="header head-top">
    <div class="container">
        <div class="header-top">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                          </button>

                        <div class="navbar-brand">
                            <a href="index.html"><img src="images/logo.png" class="logo"></a>
                            <!--<h1><a href="index.html">Norte Verde</a></h1>-->
                        </div>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                        <li><a href="index.html">Inicio <span class="sr-only">(current)</span></a></li>
                        <li class="active"><a href="about.html">Nosotros</a></li>
                        <!--<li><a href="services.html">Servicios</a></li>-->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Habitaciones <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                               <li><a href="rooms.html">Habitaciones Single</a></li>
                               <li><a href="rooms.html">Habitaciones Dobles</a></li>
                               <li><a href="rooms.html">Habitaciones Matrimoniales</a></li>
                            </ul>
                        </li>
                      <!--
                      <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Servicios <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                           <li><a>Desayuno</a></li>
                           <li><a>Almuerzo</a></li>
                           <li><a>Cena</a></li>
                           <li><a>Estacionamiento</a></li>
                           <li><a>Reglamento</a></li>
                            </ul>
                        </li>
                        -->
                        <li><a href="gallery.html">Galería</a></li>
                        <!--
                        <li><a href="codes.html">Codes</a></li>
                        -->
                        <li><a href="contact.html">Contactenos</a></li>
                      <li><a href="https://docs.google.com/forms/d/16ObhFgtfMzyWCC-subx-GR87XNgZLIra08hJMO0ttCU/prefill">Reservas</a></li>
                    </ul>

                </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>

        </div>
</div>
</div>
<!-- ************************************  header ****************************************** -->

<!-- ************************************ Nosotros *****************************************-->
<div class="content"> <!-- contenido-->
    <div class="about-section">
    <div class="container">
        <h2>¿Quienes Somos?</h2>
        <img src="images/e2.jpg" class="img-responsive" alt="/">
        <br>
        <br>
        <br>
        <br>
        <h2>Norte Verde es el refugio para aventureros y viajeros en su paso por la ciudad de Calama. </h2>
        <p>
        Consta de grato ambiente familiar que dispone de habitaciones, espacios compartidos, comedor y área verde.
        Norte Verde invita a disfrutar Ambiente acogedor con amabilidad y disposición de quienes brindamos el servicio, atentos a cada detalle y avocados a la confortabilidad de quienes realizan su visita a la ciudad
        .</p>
        <p></p>

    </div>
</div>
<!-- ************************************ Nosotros *****************************************-->


<!-- ************************************ Servivios ****************************************-->
		<div class="why-choose">
					<div class="container">
						<h3>Servicios</h3>
						<div class="choose-grids">
                            <div>
                            </div>
                            <p>Excelente atención | Desayuno | Comedor | Restaurant con concepto de alimentación saludable  | Seguridad y limpieza | Internet | Wi fi | Estacionamiento | Cómodos espacios para compartir | Muy buena Ubicación a cuadra de Bancos, Mall plaza Calama, restaurants y futuro nuevo hospital.
                            </p>
							<div class="clearfix"> </div>
							</div>
						</div>
					</div>
<!-- ************************************ Servicios ****************************************-->


<!-- ************************************ Equipo de Trabajo ****************************************-->
<!--
			<div class="ourteam">
					<div class="container">
						<h3>Nuestro Equipo</h3>
						<div class="team-grids">
						<div class="col-md-3 team-grid">
							<img src="images/t1.jpg" class="img-responsive" alt="" />
							<h4>Bradley Grosh</h4>
							<p>Were dolor in hendrerit in vulputate velit esse molestie con sequat</p>
						</div>
						<div class="col-md-3 team-grid">
							<img src="images/t2.jpg" class="img-responsive" alt="" />
							<h4>david austin</h4>
							<p>Were dolor in hendrerit in vulputate velit esse molestie con sequat</p>
						</div>
						<div class="col-md-3 team-grid">
							<img src="images/t3.jpg" class="img-responsive" alt="" />
							<h4>Patrick Pool</h4>
							<p>Were dolor in hendrerit in vulputate velit esse molestie con sequat</p>
						</div>
						<div class="col-md-3 team-grid">
							<img src="images/t4.jpg" class="img-responsive" alt="" />
							<h4>Dayle Peters</h4>
							<p>Were dolor in hendrerit in vulputate velit esse molestie con sequat</p>
						</div>
					<div class="clearfix"></div>
					</div>
				</div>
			</div>
-->
<!-- ************************************ Equipo de Trabajo ****************************************-->


<!-- ***************************************** Misión, visión y objetivos ***************************************-->
<div class="whatweoffer">
    <div class="container">
        <h3>Misión Visión Objetivos</h3>
        <div class="offer-grids">
            <div class="col-md-7 offer-grid">
                <h4>Misión</h4>
                <p>Ser reconocidos por ser la compañía de hospitalidad destacada en Calama, la opción de preferencia tanto para huéspedes como para los miembros del equipo, de los propietarios y del viajero que quiere descansar después de haber concluido con sus actividades y negocios.</p>
                <h4>Visión</h4>
                <p>Norte Verde tiene la visión de lograr liderazgo dentro del grupo de hospedaje en la ciudad de Calama, ubicándonos como el de preferencia para los visitantes gracias a la calidad de servicio.</p>
                <br>
                <br>
                <h4><a href="docs/REGLAMENTO%20INTERNO%20DE%20PASAJEROS.pdf" target="_blank" style="color:whitesmoke;">Nuestro reglamento</a></h4>
            </div>
        <div class="col-md-5 offer-grid1">
            <h4>Cumplimiento de acuerdos con el pasajero.</h4>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                            <span class="sr-only">40% Complete (success)</span>
                    </div>
                </div>
            <h4>Atención acogedora, amable y personalizada.</h4>
                <div class="progress">
                     <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                            <span class="sr-only">20% Complete</span>
                     </div>
                </div>
            <h4>Tecnología e infraestructura para el confort del pasajero</h4>
                <div class="progress">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                        <span class="sr-only">60% Complete (warning)</span>
                    </div>
                </div>
            <h4>Eficiencia en los recursos</h4>
                <div class="progress">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                        <span class="sr-only">80% Complete (danger)</span>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- ***************************************** Misión, visión y objetivos ***************************************-->

<!-- ************************************* Contactenos *****************************************-->
					<div class="touch-section">
					<div class="container">
						<h3>Contactenos</h3>
						<div class="touch-grids">
							<div class="col-md-4 touch-grid">
								<h4>Reservas</h4>
								<h5>Recepción</h5>
								<p>Telefono : +569 9635 9413</p>
								<p>E-mail : <a href="mailto:hostalnorteverde@gmail.com">  hostalnorteverde@gmail.com</a></p>
							</div>
                            <div class="col-md-4 touch-grid">
								<h4>Dirección</h4>
								<h5>Casa Matriz</h5>
								<p>Arturo Prat 1677</p>
                                <p>Calama, Provincia de El Loa</p>
								<p>Región de Antofagasta.</p>
								<p>Chile</p>
							</div>
							<div class="col-md-4 touch-grid">
							    <h4>Solicitudes</h4>
                                <h5>Mesón</h5>
								<p>Telefono : +569 9635 9413</p>
								<p>E-mail : <a href="mailto:hostalnorteverde@gmail.com">  hostalnorteverde@gmail.com</a></p>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
					</div>
<!-- ************************************* Contactenos *****************************************-->
</div><!-- contenido-->

<!-- ************************************* footer **********************************************-->
<div class="footer-section">
    <div class="container">
        <div class="footer-top">
            <p>&copy; 2016 Norte Verde. Todos los derechos reservados | Diseño por <a href="">OnPositive</a></p>
        </div>
    </div>
</div>
<!-- ************************************* footer **********************************************-->

</body>
</html>
