{% extends "base.html" %}
{% load staticfiles %}
{% block titulo %}Ideas Inventario {% endblock %}
{% block content %}
        <h1>Bienvenido al centro de Inventario </h1>
        <img src="{% static '/tile.png' %}" alt="My image" width="100p" />
         {% if inventario %}
            <p>Holi, esto es Index en Bodega.</p>

            <div id="botones">
                <div>
                    <button class="ui-btn">Ir a algo</button>   
                </div>
                <div>
                 <button class="ui-btn">otra cosa</button>
                </div>
            
            </div>

            <h2>Productos en stock:</h2>

            <div class="row">
                    <div class="col-md-3"><strong>Producto</strong></div>
                    <div class="col-md-3"><strong>Precio</strong></div>
                    <div class="col-md-3"><strong>Familia</strong></div>
            </div>
            {% block bootstrap3_content %}
           
                 <div class="table-responsive">
                      <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Producto</th>
                                <th>precio</th>
                                <th>Familia</th>
                            </tr>
                        </thead>
                        <tbody>
                         {% for producto in inventario %}
                            <tr>
                                <td>{{producto.id}}</td>
                                <td><a href="{% url 'bodega:detalles' producto.id %}">{{producto.nombre}}</a></td>
                                <td>{{producto.precio}}</td>
                        
                            </tr>
                         {% endfor %}
                        </tbody>
                      </table>
                </div> 
                
            
            {% endblock %}
        {% else %}
            <p>No hay Productos que mostrar</p>
        {% endif %}

        {% endblock content %}